<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/register-pets.css">

</head>
<body>
  <!-- Navigation -->
  <div replace="/fragments/layout.html::nav"></div>

  <!-- Sign-up Form -->
  <div class = "register-box">
    <h2>반려동물 등록</h2>

    <input type="button" value="Preview form" class="add" id="preview" />

    <button onclick = "return register(this.form)">다음으로</button>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
  <script rel="script" src="/js/sign-up-customer.js"></script>
  <script>



  </script>
</body>
</html>