<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" href="/css/common.css">
  <style>
    table{
      border-collapse: collapse;
      width : 400px;
    }

    th, td {
      border : 1px solid black;
    }
    th { width : 100px; }
    td { width : 200px; }
  </style>
</head>
<body>
  <!-- Header -->
  <div th:replace="/fragments/layout.html::#header"></div>
  <div th:replace="/fragments/layout.html::#userNav-after"></div>

  <!-- User info -->
  <div class = "content-box">
    <div class = "content" id = "user-box">
      <h2>비밀번호 찾기</h2>
      <form method = "get" action="/user/reset-email">
        <table>
          <tr>
            <th>가입시 등록한 이메일을 작성해주세요.</th>
            <td><input name = email></td>
          </tr>
          <tr>
            <td colspan="2" style="border:none; text-align: right">
              <input id = "complete-btn" type = "submit" value = "완료">
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
          integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
          crossorigin="anonymous"></script>
  <script src="/js/common.js"></script>
</body>
</html>