<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>비밀번호 변경 메세지</title>
  <link rel="stylesheet" href="/css/common.css">
  <style>
    .msg-box{
      margin-top:80px;
    }
  </style>
</head>
<body>
  <!-- Header -->
  <div th:replace="/fragments/layout.html::#header"></div>

  <div class = "msg-box">
    <h2>결과</h2>
    <p th:text="${msg}"></p>
  </div>
  <script src="/js/common.js"></script>
</body>
</html>