<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" href="/css/common.css">
  <style>
    table{
      border-collapse: collapse;
      width : 400px;
    }

    th, td {
      border : 1px solid black;
    }
    th { width : 100px; }
    td { width : 200px; }
  </style>
</head>
<body>
  <!-- Header -->
  <div th:replace="/fragments/layout.html::#header"></div>
  <div th:replace="/fragments/layout.html::#userNav-after"></div>

  <!-- User info -->
  <div class = "content-box">
    <div class = "content" id = "user-box">
      <h2>비밀번호 찾기</h2>
      <form id = "resetForm" method = "post" action="/user/reset-password">
        <table>
          <tr>
            <th>아이디</th>
            <td th:text="${email}"></td>
            <input type = "hidden" name = "email" th:value="${email}">
          </tr>
          <tr>
            <th>신규 비밀번호</th>
            <td><input type = "password" name = "password"></td>
          </tr>
          <tr>
            <th>비밀번호 재입력</th>
            <td><input type = "password"  name = "rePassword"></td>
          </tr>
          <tr>
            <td colspan="2" style="border:none; text-align: right">
              <input id = "complete-btn" type = "button" value = "완료">
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
          integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
          crossorigin="anonymous"></script>
  <script src="/js/common.js"></script>
  <script>

    $(function(){

      $("#complete-btn").on('click', function(){

        let password = $("input[name = 'password']").val();
        let rePassword = $("input[name = 'rePassword']").val();

        if (password != rePassword) {
          alert("비밀번호가 일치하지 않습니다.");
          return false;
        }

        $("#resetForm").submit();

      });

    });

  </script>
</body>
</html>