<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>회원 가입</title>

  <!-- Font CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../assets/css/fontawesome.css">
  <link rel="stylesheet" href="../assets/css/tooplate-main.css">
  <link rel="stylesheet" href="../assets/css/owl.css">
  <link rel="stylesheet" href="../assets/css/sign-up.css">

</head>
<body>
  <!-- Navigation -->
  <nav th:replace="/fragments/layout.html::fragment-nav"></nav>

  <!-- Sign-in Step Title -->
  <h2>STEP1 - 이메일 회원가입</h2>

  <!-- Sign-up Form -->
  <div class = "login-box">
    <form method = "post" action="/users/sign-up?registerType=email">
      <label for="email">이메일</label>
      <input type="email" id="email" name="email" placeholder="ex. hongildong@gmail.com" required>
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" placeholder="8자리 이상의 영문자, 숫자, 특수문자 모두 포함" required>
      <label for="rePassword">비밀번호 확인</label>
      <input type="password" id="rePassword" placeholder="비밀번호 재입력" required>
      <label for="butlerLevel">집사 경력을 입력해주세요.</label>
      <div>
        <select>
          <option value = "">선택</option>
          <option value = "1">1년 미만</option>
          <option value = "2">2년</option>
          <option value = "3">3년</option>
          <option value = "4">4년</option>
          <option value = "5">5년</option>
          <option value = "직접입력">5년+</option>
        </select>
        <input type = "text"  id = "butlerLevel" name = "butlerLevel" readonly>
      </div>
      <label for="phone">휴대폰번호</label>
      <input type="tel" id="phone" name="phoneNumber" placeholder="ex. 010-1234-5678">
      <button onclick = "return register(this.form)">다음으로</button>
    </form>
  </div>

  <!-- Footer -->
  <div th:replace="/fragments/layout.html::fragment-footer"/>
  <div th:replace="/fragments/layout.html::fragment-sub-footer"/>

  <!-- Script -->
  <script type="text/javascript" src="../assets/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/sign-up-email.js"></script>

</body>
</html>