<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>회원 가입</title>

  <!-- Font CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../assets/css/fontawesome.css">
  <link rel="stylesheet" href="../assets/css/tooplate-main.css">
  <link rel="stylesheet" href="../assets/css/owl.css">
  <link rel="stylesheet" href="../assets/css/sign-up.css">

</head>
<body>
  <!-- Navigation -->
  <nav th:replace="/fragments/layout.html::fragment-nav"></nav>

  <!-- Sign-up Form -->
  <p>작성한 <span th:text="${email}"></span>이메일로 인증 메일을 보냈습니다.</p>
  <p>이메일에서 인증 버튼을 선택한 후, 나머지 가입 절차를 완료해주세요.</p>

  <!-- Footer -->
  <div th:replace="/fragments/layout.html::fragment-footer"/>
  <div th:replace="/fragments/layout.html::fragment-sub-footer"/>

  <!-- Script -->
  <script type="text/javascript" src="../assets/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/sign-up-email.js"></script>

</body>
</html>