<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/sign-in.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
  <!-- Header -->
  <header>
    <div th:replace="/fragments/layout.html::#header"></div>
    <div>
      <div th:replace="/fragments/layout.html::#userNav-before"></div>
    </div>
  </header>

  <div class = "content-box">
    <p>로그인에 실패하였습니다. 다시 시도해주세요.</p>
  </div>

  <script src="/js/common.js"></script>
</body>
</html>