<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <style>
    .btn {
      width : 100px;
      height: 30px;
      text-decoration: none;
      display:inline-block;
      background-color : black;
      color:white;
      border-radius:10px 10px 10px 10px;
      text-align: center;
      vertical-align: top;
    }

    .btn p {
      display:block;
      font-size : 13px;
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <div>
    <img src="https://nordicdairycongress.com/sites/default/files/billeder/nyheder/colourbox15033372.jpg" height="200">
    <p>팻집사의 집사 맴버가 되신 것을 환영합니다!<br>아래 버튼을 통해 이메일 인증을 완료해주세요.</p>
    <a class = 'btn' href = '/users/email-auth?authKey='><p>인증 완료</p></a>
  </div>
</body>
</html>