<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nav</title>
</head>
<body>
  <!-- 공통 헤더 -->
  <div id = "header" th:fragment="header">
    <a id = "logo" href="/"><img src = "/img/logo_small.png" height="50px"></a>
    <div class = "menu">
      <ul>
        <li><a href = "#">팻물품</a></li>
        <li><a href = "#">동물병원 찾기</a></li>
        <li><a href = "#">동물약국 찾기</a></li>
        <li><a href = "#">게시판</a></li>
      </ul>
    </div>
  </div>

  <div id = "userNav-before" th:fragment="userNav">
    <ul class = "userNav" id = "cus-ul-before" >
      <li id = "userSignIn"><a href = "/user/sign-in">Sign In</a></li>
      <li id = "userSignUp"><a href = "/user/sign-up">Sign Up</a></li>
      <li id = "userLogOut"><a href = "/user/logout">Log Out</a></li>
    </ul>
  </div>
  <div id = "userNav-after" th:fragment="userNav">
    <ul class = "userNav" id = "cus-ul-after">
      <li id = "userMyPage"><a href = "/user/mypage">🤵 MyPage</a></li>
      <li id = "userMyPets"><a href = "/user/mypets">🐶 MyPets</a></li>
      <li id = "userCart"><a href = "/user/cart">🛒 장바구니</a></li>
      <li id = "userLogOut"><a href = "/user/logout">Log Out</a></li>
    </ul>
  </div>

</body>
</html>