<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nav</title>
</head>
<body>
  <div th:fragment="nav">
    <ul style = "list-style: none; text-decoration: none; color : black;">
      <li style = "display:inline-block; width:100px; margin-right : 10px"><a href = "/users/sign-in">로그인</a></li>
      <li style = "display:inline-block; width:100px; margin-right : 10px"><a href = "/users/customer/sign-up">일반 회원가입</a></li>
      <li style = "display:inline-block; width:100px; margin-right : 10px"><a href = "/users/seller/sign-up">셀러 회원가입</a></li>
    </ul>
  </div>
</body>
</html>