<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>회원 가입 완료</title>
</head>
<body>
  <!-- Navigation -->
  <div th:replace="/fragments/layout.html::nav"></div>

  <!-- Sign-up Form -->
  <p>작성한 <span th:text="${email}"></span>이메일로 인증 메일을 보냈습니다.</p>
  <p>이메일에서 인증 버튼을 선택한 후, 나머지 가입 절차를 완료해주세요.</p>
</body>
</html>