<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 등록</title>
  <link rel="stylesheet" href="/css/common.css">
  <style>
    .detail{
      margin:100px auto auto auto;
      width : 600px;
      text-align: center;
    }

    table {
      width : 100%;
      margin:5px auto 5px auto;
      border-collapse: collapse;
    }

    th,td{
      border : 1px solid black;
    }

    th {
      background-color: silver;
    }

    .buttons{
      text-align: right;
    }

    h3{
      text-align: left;
      font-size: 18px;
    }
  </style>
</head>
<body>

  <!-- Header -->
  <header>
    <div th:replace="/admin/fragments/layout.html::#header"></div>
    <div>
      <div th:replace="/admin/fragments/layout.html::#userNav"></div>
    </div>
  </header>

  <!-- content -->
  <div class = "content-box detail">
    <form method = "post" action = "/admin/product/add.do" enctype="multipart/form-data">
      <h2 style = "text-align:left">상품등록</h2>
      <table>
        <tr>
          <th>카테고리</th>
          <td>
            <select class = "division" id ="main" name ="main">
              <option value = "none">대분류</option>
              <option th:each="x : ${data.mains}" th:value = "${x.code}" th:text="${x.name}"></option>
            </select>
            <select class = "division" id ="medium" name ="medium">
              <option value = "none">중분류</option>
              <option th:each="x : ${data.mediums}" th:value = "${x.code}" th:text="${x.name}"></option>
            </select>
            <select class = "division" id ="small" name ="small">
              <option value = "none">소분류</option>
              <option th:each="x : ${data.smalls}" th:value = "${x.code}" th:text="${x.name}"></option>
            </select>
          </td>
        </tr>
        <tr>
          <th>이미지</th>
          <td><input type = "file" name = "thumbnail" ></td>
        </tr>
        <tr>
          <th>브랜드명</th>
          <td><input name = "brand"></td>
        </tr>
        <tr>
          <th>상품명</th>
          <td><input type = "text" name = "name"></td>
        </tr>
      </table>
      <div class = "buttons">
        <input type = "button" value = "목록" onclick = "location.href='/admin/product/list.do'">
        <input id = "create" type = "submit" value = "등록">
      </div>
    </form>
  </div>
  <footer>
    <div class = "content">
      <h3>프로젝트 개요</h3>
      <p>작업자 : simDev1234@gmail.com</p>
      <p>깃허브 : <a href = "https://github.com/simDev1234">https://github.com/simDev1234</a></p>
      <p>티스토리 : <a href = "https://why-dev.tistory.com/" target="_blank">https://why-dev.tistory.com/</a></p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
          integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="/js/common.js"></script>
</body>
</html>