<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>메인</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/popup.css">
</head>
<body>

  <!-- Header -->
  <header>
    <div th:replace="/fragments/layout.html::#header"></div>
    <div th:if="${#strings.isEmpty(email)}">
      <div th:replace="/fragments/layout.html::#userNav-before"></div>
    </div>
    <div th:if="${not #strings.isEmpty(email)}">
      <div th:replace="/fragments/layout.html::#userNav-after"></div>
    </div>
  </header>

  <!-- Popup -->
<!--  <div th:if="${not #strings.isEmpty(popupMsg)}" id = popup>-->
<!--    <h3 th:text="${popupTitle}">타이틀</h3>-->
<!--    <p th:text="${popupMsg}">내용<a id = "close-x" href = "#">x</a></p>-->
<!--  </div>-->

  <!-- content -->
  <div class = "content-box intro">
    <div class = "content">
      <h2>모든 팻 집사들을 위한 정보</h2>
      <p>내 새꾸를 위한 제품, 병원/약국 정보를 찾아보세요.</p>
      <ul class = "list">
        <li>
          <h3><a href = "">🛒 팻 아이템 보기</a></h3>
          <p>팻집사가 엄선한 제품 보기</p>
        </li>
        <li>
          <h3><a href = "">🏢 동물병원 찾기</a></h3>
          <p>내 위치 기반 병원 정보 찾기</p>
        </li>
        <li>
          <h3><a href = "">💊 동물약국 찾기</a></h3>
          <p>내 위치 기반 약국 정보 찾기</p>
        </li>
      </ul>
    </div>
    <div class = "content banner">
      <div>
        <img>
        <p>아무 말이나 해보세요.</p>
      </div>
      <div>your content</div>
      <div>your content</div>
    </div>
  </div>
  <div class = "content-box seller">
    <div class = "content">
      <h2>팻집사와의 콜라보레이션</h2>
      <p>다른 집사들에게 우리 기업의 제품 또는 직접 만든 수제 제품을 판매하세요.</p>
      <ul class = "list">
        <li>
          <h3><a href = "">🖊 콜라보레이션 요청</a></h3>
          <p>팻집사와의 콜라보레이션을 통해 당신의 소중한 제품의 인지도를 높히세요.</p>
        </li>
      </ul>
    </div>
  </div>

  <footer>
    <div class = "content">
      <h3>프로젝트 개요</h3>
      <p>작업자 : simDev1234@gmail.com</p>
      <p>깃허브 : <a href = "https://github.com/simDev1234">https://github.com/simDev1234</a></p>
      <p>티스토리 : <a href = "https://why-dev.tistory.com/" target="_blank">https://why-dev.tistory.com/</a></p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
          integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
          crossorigin="anonymous"></script>
  <script src="/js/common.js"></script>
  <script src="/js/popup.js"></script>
</body>
</html>