<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nav</title>
</head>
<body>
  <!-- 공통 헤더 -->
  <div id = "header" th:fragment="header">
    <a id = "logo" href="/"><img src = "/img/logo_small.png" height="50px"></a>
    <div class = "menu">
      <ul>
        <li><a href = "/admin/user/list.do">회원관리</a></li>
        <li><a href = "/admin/category/list.do">카테고리 관리</a></li>
        <li><a href = "/admin/product/list.do">상품관리</a></li>
        <li><a href = "/admin/animalHosptl/list.do">동물병원 관리</a></li>
      </ul>
    </div>
  </div>

  <div id = "userNav" th:fragment="userNav">
    <ul class = "userNav" id = "cus-ul-before" >
      <li id = "userLogOut"><a href = "/user/logout">Log Out</a></li>
    </ul>
  </div>

</body>
</html>